@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg: #364F6B;
    --wl: #F5F5F5;
    --r-c: #FC5185;
    --g-c: #3FC1C9;
    --y-c: #E4E4E4;
}

h1, h2, h3, h4 {
    font-size: 30px;
    font-weight: 600;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
}

#root {
    width: 100vw;
    height: 100vh;
}


.titleBlock {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 520px;
    height: 100px;
    padding: 0 50px;
}

.container__btns {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.error {
    text-align: center;
    margin-top: 40px;
    color: var(--wl);
}


.TrophyBlock {
    margin: 0 auto;
    width: 520px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.TrophyImage {
    width: 170px;
}

.InfoBlock {
    text-align: center;
}

.InfoBlock h2 {
    font-size: 22px;
}

.btnsBlock {
    padding: 10px;
    width: calc(170px * 2 + 16px);
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btnsBlock > button {
    font-weight: 500;
}